# Dépendances
/node_modules
/.pnp
.pnp.js

# Tests
/coverage

# Production
/build

# Fichiers de build
/dist

# Environnement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Fichiers temporaires
.cache
.eslintcache

# PWA
/public/workbox-*.js
/public/sw.js

# Autres
.DS_Store
Thumbs.db